In [1]:
from sqlalchemy import create_engine
import pandas as pd
import pyarrow.parquet as pq

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
engine.connect()

In [ ]:
import pandas as pd
import pyarrow.parquet as pq

chunk_size = 10000  # Adjust the chunk size based on your system resources

parquet_file_path = 'yellow_tripdata_2023-01.parquet'
table = pq.read_table(parquet_file_path)

# Get the total number of rows
num_rows = table.num_rows

start_row = 1500000

while start_row < num_rows:
    end_row = min(start_row + chunk_size, num_rows)
    # Extract a specific row range as a PyArrow Table
    chunk_table = table.slice(start_row, end_row)

    # Convert the chunk to a Pandas DataFrame
    chunk_df = chunk_table.to_pandas()

    # Insert the chunk into the PostgreSQL database
    chunk_df.to_sql(name='yellow_tripdata_trip', con=engine, if_exists='append', index=False)
    print(f'Done inserting rows {start_row} to {end_row}')

    start_row = end_row

print('All rows inserted successfully.')

Done inserting rows 1500000 to 1510000